[submodule "Time"]
	path = Time
	url = https://github.com/PaulStoffregen/Time.git
[submodule "Timezone"]
	path = Timezone
	url = https://github.com/JChristensen/Timezone.git
[submodule "NTPClient"]
	path = NTPClient
	url = https://github.com/arduino-libraries/NTPClient.git
